POSTGRES_USER='seu usuario'
POSTGRES_PASSWORD='sua senha'
POSTGRES_DB='nome da database'
PG_HOST=nome do container do banco
REDIS_HOST=nome do container do redis
VITE_API_URL=
JWT_SECRET='hash em base 64'
JWT_ALGORITHM='algoritimo usado para jwt'
GEMINI_API_KEY='sua chave da API'